.Error {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.Error-title {
  margin: 0;
  color: #e64d3d;
  font-family: 'Lobster', cursive;
  font-size: 6em;
}

.Error-reason {
  margin: 1.5em 0;
  color: #999;
  font-weight: bold;
  font-size: 1.25em;
  font-style: italic;
}

.Error-retry {
  display: inline-block;
  padding: .3em .8em;
  color: #e64d3d;
  border: 2px solid #e64d3d;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
}

.Error-retry:hover {
  box-shadow: 2px 2px 0 #e64d3d;
}
