.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  max-height: 100px;
  pointer-events: none;
}

.App-section {
  display: flex;
  flex: 1;
}

.App-header {
  padding: 20px 0;
  background-color: #282c34;
  display: flex;
  flex: 1;
  max-height: 125px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: #d9d9d9;
}

.App-link {
  color: #61dafb;
}
